{% extends 'base_generic.html' %}
{% load static %}
{% load filter_option %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="content-chat" >
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="chat-app">
                <div id="plist" class="people-list ">
                    <div class="input-group">                    
                        <a href="" class="func-item w-100 p-3" data-bs-toggle="modal" data-bs-target="#example"> 
                            <i class="fa-solid fa-add"></i>
                            <span>Tạo Phòng chat</span>
                        </a>                    
                    </div>
                    <div class="list-user overflow-auto scroll-smooth">
                        <div class="d-block">
                            <ul class="list-unstyled chat-list mt-2 mb-0">
                                {% for user_item in combined_list %}
                                    {% if user_item.type == "user"  %}
                                    <a href="{% url 'inbox_detail' user_item.object.id %}">
                                        <li class="clearfix "  {% if user_item.object.username == receiver.username %} id="active" {% endif %}>
                                            {% for profile in profiles %}   
                                                {% if user_item.object == profile.user %}             
                                                    <img src="{% if profile.profile_pic %}
                                                        {{ profile.profile_pic.url  }}
                                                    {% else %} 
                                                        https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                                                    {% endif %}" 
                                                    alt="avatar">
                                                {% endif %}
                                            {% endfor %}
                                            <div class="about">
                                                <div class="name p-2" style="text-transform: capitalize;">{{user_item.object.username}}</div>
                                            </div>
                                        </li>
                                    </a>
                                    {% else %}
                                    <li class="clearfix ">                                            
                                            <a href="{% url 'inbox_room_detail' user_item.object.id %}" style="width: 100%;">
                                            {% if user_item.object.image %}             
                                                <img src="{{ user_item.object.image.url  }}" alt="avatar" style="width: 40px; " >
                                            {% else %}
                                                <img src="{% static 'room.png' %}" alt=""  style="width: 40px;">
                                            {% endif %}
                                            <div class="about">
                                                <div class="name p-2" style="text-transform: capitalize;">{{user_item.object.name}}</div>
                                            </div>
                                        </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}                                
                            </ul>
                        </div>
                    </div>
                </div>
                {% block room %}
                    <div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Tạo phòng chat</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{% url 'create_room' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div href="" class="user">
                                        <a href="" class="d-flex align-items-center justify-content-center">
                                            {% for profile in profiles %}               
                                                {% if user.id == profile.user.id %}
                                                    {% if profile.profile_pic %}
                                                            <img src="{{ profile.profile_pic.url }}" style="width: 50px; height:50px" class="rounded-pill" alt="">
                                                        {% else %}
                                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 50px; height:50px" style="width: 40px; height:40px" alt="">
                                                        {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </a>
                                        <div class="author">
                                            <div>Người tạo: {{ user.username }}</div>                                       
                                        </div>
                                    </div>
                                    <div class="post-body mt-4">
                                        <h3 class="post-title w-100 rounded">
                                            <input class=" w-100 rounded form-control" type="text" name="name" required id="id_name" placeholder="Nhập tên phòng">
                                        </h3>
                                        
                                    </div>
                                </div>                               
                                <div class="modal-footer d-flex justify-content-lg-center">                                    
                                    <div class="p-2 rounded" style="position: relative; display: inline-block; width: 15%; background-color: var(--bg-light-3);">
                                        <input class="btn-add-file" type="file" name="image" accept="image/*" id="id_image" style="align-self: center;opacity: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; cursor: pointer;">
                                        <div id="file-icon" class="text-center">                             
                                            Ảnh
                                        </div>
                                    </div>             
                                    <button type="submit" class="btn btn-primary btn-upload">Tạo phòng</button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                {% endblock %}
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="{% url 'profiles:profile' receiver.id   %}" data-toggle="modal" data-target="#view_info">
                                        {% for profile in profiles %}   
                                                {% if receiver == profile.user %}             
                                                    <img src="{% if profile.profile_pic %}
                                                        {{ profile.profile_pic.url  }}
                                                    {% else %} 
                                                        https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                                                    {% endif %}"
                                                    alt="avatar">
                                                {% endif %}
                                        {% endfor %}
                                        <div class="chat-about">
                                            <h6 class="m-b-0">{{ receiver.username }}</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6 hidden-sm text-end">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                                    <button class="btn ms-auto" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                        <li>                             
                                            <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete">
                                                <i class="fa-solid fa-trash"></i>
                                                <span>Xóa đoạn chat</span>
                                            </a>      
                                        </li>
                                    </ul>
                                </div>
                                {% block deletechatprivate %}
                                    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Bạn có chắc muốn xóa đoạn chat này?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>                                                                    

                                            </div>
                                            <div class="modal-footer d-flex justify-content-lg-center">                                    
                                                <form action="{% url 'delete_private_chat' receiver.id  %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}                                                                                      
                                                    <button type="submit" class="btn btn-primary ">Xóa</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                {% endblock %} 
                            </div>
                        </div>
                        <div class="chat-history overflow-auto scroll-smooth">
                            <div class="d-block">
                                <ul class="m-b-0" id="chat-messages">
                                    {% for message in message_list %}
                                        {% if message.sender == request.user %}
                                            <li class="clearfix">
                                                <div class="message-data text-end">
                                                    <span class="message-data-time">
                                                        <div class="sender">{{message.sender}}</div>
                                                        <div class="date">
                                                            {% with time_since=message.date|timesince %}
                                                                {% with values=time_since|split_timesince:", " %}
                                                                    {{values}}
                                                                {% endwith %}
                                                            {% endwith %}
                                                        </div>
                                                    </span>
                                                    {% for profile in profiles %}   
                                                        {% if message.sender == profile.user %}             
                                                            <img src="{% if profile.profile_pic %}
                                                                {{ profile.profile_pic.url  }}
                                                            {% else %} 
                                                                https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                                                            {% endif %}"
                                                            alt="avatar">
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="message other-message float-right"> 
                                                    {{message.message}} 
                                                    {% if message.image %}
                                                    <br>
                                                    <img src="{{ message.image.url }}" alt="" style="width: 300px;">
                                                    {% endif %} 
                                                    {% if message.video %}
                                                    <br>
                                                    <video controls style="width: 300px;"><source src="{{ message.video.url }}" type="video/mp4"> </video></div>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="clearfix">
                                                <div class="message-data text-start">
                                                    {% for profile in profiles %}   
                                                        {% if message.sender == profile.user %}             
                                                            <img src="{% if profile.profile_pic %}
                                                                {{ profile.profile_pic.url  }}
                                                            {% else %} 
                                                                https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                                                            {% endif %}"
                                                            alt="avatar">
                                                        {% endif %}
                                                    {% endfor %}
                                                    <span class="message-data-time">
                                                        <div class="sender">{{message.sender}}</div>
                                                        <div class="date">
                                                            {% with time_since=message.date|timesince %}
                                                                {% with values=time_since|split_timesince:", " %}
                                                                    {{values}}
                                                                {% endwith %}
                                                            {% endwith %}
                                                        </div>
                                                    </span>
                                                </div>
                                                <div class="message my-message"> 
                                                    {{message.message}}                                         
                                                    {% if message.image %}
                                                    <br>
                                                    <img src="{{ message.image.url }}" alt="" style="width: 300px;">
                                                    {% endif %}
                                                    {% if message.video %}
                                                    <br>
                                                    <video controls style="width: 300px;"><source src="{{ message.video.url }}" type="video/mp4"> </video>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}                                
                                </ul>
                            </div>
                        </div>
                        <div class="chat-message clearfix ">
                            <div class="input-group mb-0">
                                <div class="input-group-prepend" style="display: flex; ">
                                    <button class="input-group-text" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="margin: 5px; padding: 1rem;">
                                        <i class="fa fa-image"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton" style="width: 10%;">
                                        <li>
                                            <label class="file-label1" for="image">Hình ảnh</label>
                                            <input class="btn-add-file" value="Đính kèm" type="file" name="image" accept="image/*" id="file-image">
                                        </li>
                                        <li>
                                            <label class="file-label2" for="video">Video</label>
                                            <input class="btn-add-file" value="Đính kèm" type="file" name="video" accept="video/*" id="file-video">
                                        </li>
                                    </ul>
                                    <input type="text" class="form-control" id="chat-input" placeholder="Enter text here...">      
                               
                                    <button class="input-group-text" style="margin: 5px; padding: 1rem;" id="send-btn">
                                    <i class="fa fa-send"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function() {
        
        var receiver = null;
        var receiver_id = "{{ receiver.id }}"; 
        var logged_in = "{{ request.user.id }}"; 

        const pathname = window.location.pathname;
        const parts = pathname.split('/');
        const username = parts[parts.length - 2];

        if (receiver_id === logged_in) {
            receiver = receiver_id;
        } else {
            receiver = receiver_id;
        }

        var socket = new WebSocket('ws://' + window.location.host + '/ws/chat-private/' + receiver + '/');
        console.log(socket);

        socket.onopen = function() {
            console.log('WebSocket connection established.');
        }

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);           
            var message = data.message;
            var receiver = data.receiver;
            var sender = data.sender;
            var image = data.image;
            var date = data.date
            var video = data.video;
            var profileImage = data.profile_image;
            if  (sender === "{{sender}}") {
                var chatMessage = '<li class="clearfix">';
                    chatMessage += ' <div class="message-data text-end">';
                    chatMessage += '<span class="message-data-time " >' + sender +'</span>'
                    chatMessage +=  '<img src="' + profileImage + '" alt=""">'
                    chatMessage +='</div>'
                    chatMessage +='<div class="message other-message float-right">' + message 
                    if(image){
                        chatMessage += '<br><img src="' + image + '" alt="" style="width: 300px;"></div>';
                    }
                    if(video){
                        chatMessage += '<br><video controls style="width: 300px;"><source src='+ video + ' type="video/mp4"> </video></div>' ;                            
                    }    
                    chatMessage +='</li>'

                    // Append the chat message to the main div
                    $('#chat-messages').append(chatMessage);
                    var chatHistory = document.querySelector('.chat-history')
                    chatHistory.scrollTop = chatHistory.scrollHeight
                    
                    

            } else{
                var chatMessage = '<li class="clearfix">';
                    chatMessage += ' <div class="message-data text-start">';
                    chatMessage += '<span class="message-data-time " >' + sender +'</span>'
                    chatMessage +=  '<img src="' + profileImage + '" alt=""">'
                    chatMessage +='</div>'
                    chatMessage +='<div class="message my-message ">' + message + '</div>'
                    if(image){
                        chatMessage += '<br><img src="' + image + '" alt="" style="width: 100px;">';
                    }
                    if(video){
                        chatMessage += '<br><video controls><source src='+ video + ' type="video/mp4"> </video>' ;                            
                    }    
                    chatMessage +='</li>'

                    // Append the chat message to the main div
                    $('#chat-messages').append(chatMessage);
                    var chatHistory = document.querySelector('.chat-history')
                    chatHistory.scrollTop = chatHistory.scrollHeight
            }
           
        }

        socket.onclose = function() {
            console.log('WebSocket connection closed.');
        }

        function submitMessage() {
            var input = $('#chat-input');
            var message = input.val();
            var receiver = "{{ receiver_user.username }}"
            var sender = "{{request.user.username}}"; 
            var fileImage = document.getElementById('file-image');
            var fileVideo = document.getElementById('file-video');
            var file = fileImage.files[0] || fileVideo.files[0];
            if (file) {
                var reader = new FileReader();    
                reader.readAsDataURL(file);
                reader.onloadend = function() {
                    var fileData = reader.result;
                    var fileType = file.type;
                    var data = {               
                        'message': message,
                        'sender': sender,
                        'receiver': receiver,                        
                        'fileData': fileData, // Dữ liệu của hình ảnh hoặc video dưới dạng chuỗi Base64
                        'fileType': fileType,
                    };
                    socket.send(JSON.stringify(data));
                };

            } else {
                var data = {               
                    'message': message,
                    'sender': sender,
                    'receiver': receiver,
                    'fileData': null, // Đặt giá trị fileData là null nếu không có file nào được chọn
                    'fileType': null,
                };
                socket.send(JSON.stringify(data));
            }

            
            input.val('');
            $('#file-image').val('');
            $('#file-video').val('');
        
        }

        $('#send-btn').on('click', function() {
            submitMessage()
            var sendButton = $('#send-btn');       
            $(".chat-history").scrollTop(100000000000);
                });
        
                
        $('#chat-input').keyup(function(e) {
            if(e.which == 13) {
                submitMessage();
            }
        });   
    });
           

        $(document).ready(function() {
            $(".chat-history").scrollTop(100000000000);
        });     
    
    
            
  

</script>

{% endblock %}