/* Header */
header {
    box-shadow: var(--shadow-1);
    color: var(--color-light-1);
    position: fixed;
    background-color: var(--gray-light);
    height: 70px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.left-nav,
.right-nav {
    width: 25%;
}

.middle-nav,
.right-nav {
    color: var(--color-light-1);
}

.left-nav .logo {
    color: var(--primary-1);
    font-size: 2.5rem;
}

.left-nav .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
}

.left-nav .input-search {
    border-radius: 2rem !important;
    background: var(--bg-light-1);
}

.middle-nav {
    width: 50%;
}

.middle-nav .navigate {
    padding: 1rem 4.5rem;
    font-size: 1.4rem;
    margin: .25rem;
    position: relative;
}

.middle-nav .navigate:hover {
    color: var(--primary-1);
}

.right-nav > *, .right-nav .account button {
    margin: 0 .25rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    background: var(--bg-light-1);
}

.right-nav .account .dropdown-menu {
    padding: 1rem;
    border-radius: var(--border-radius-2);
    min-width: 15rem;
}

.right-nav .account .dropdown-item {
    padding: .5rem 1rem;
    border-radius: var(--border-radius-2);
}

.right-nav .account .profile img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.right-nav .account .profile .username {
    margin-left: 1rem;
}

/* Content */
.content-area {
    background: var(--gray-light);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    min-height: calc(100vh - 70px);
}

.left-content,
.right-content {
    width: 25%;
    position: fixed;
    margin-top: 70px;
    top: 1.5rem;
}

.left-content {
    left: 1.5rem;
}

.right-content {
    right: 1.5rem;
}

/* Left content */

/* Func */

.left-content ul li a {
    border-radius: var(--border-radius-2);
}

ul.func li a,
.shortcuts a.shortcut-item {
    display: flex;
    align-items: center;
}

ul.func li a span,
.shortcuts a.shortcut-item span {
    margin-left: 1rem;
    font-weight: 600;
}

ul.func a.func-item i {
    font-size: 1.6rem;
    width: 40px;
    text-align: center;
    margin: auto 0;
}

ul.func a {
    padding: .8rem .5rem;
    margin: 0 -.5rem;
}


ul.func a:hover,
.shortcuts a.shortcut-item:hover {
    background: var(--bg-light-1);
}

/* Shortcuts */
.shortcuts .title {
    color: var(--color-light-4);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.shortcuts a.shortcut-item {
    padding: .4rem .5rem;
    margin: .25rem -.5rem;
}

.shortcuts a.shortcut-item .card-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 25% !important;
}

/* Main content */
.main-content {
    width: 50%;
}

.main-content .card {
    margin: 1rem auto;
    width: 80%;
}

.card .card-img-top,
.user .card-img-top {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.card .card-top {
    padding: 1rem;
}

.card .card-top a.text {
    width: calc(100% - 50px);
    cursor: pointer;
}

.card .card-top input {
    width: 100%;
    border-radius: 2rem;
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
}

.card .card-top input::placeholder {
    color: var(--color-light-3);
}

.card .card-body .action {
    font-size: 1rem;
}

.card.upload-post .card-body {
    padding: .5rem 0;
}

.card .card-body .action a {
    display: inline-flex;
    align-items: center;
    padding: .6rem .8rem;
}

.card .card-body .action a:hover {
    background: var(--bg-light-1);
    border-radius: var(--border-radius-2);
}

.card .card-body .action span {
    margin-left: .25rem;
}

.card .count,
.card .action {
    margin: 0 1rem;
}

/* Post detail */
.post-detail .author .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.post-detail .author .name:hover {
    text-decoration: underline;
}

.post-detail .author .upload-time {
    font-size: .9rem;
}

.post-detail .card-body {
    padding: .5rem 1rem;
    line-height: 1.5rem;
}

.post-detail .card-body .file-upload {
    margin: 0 -1rem;
}

.post-detail .count {
    padding: .5rem 1rem;
}

.post-detail .action .action-item {
    width: 30%;
    text-align: center;
    padding: .5rem 0;
}
.post-detail .action .action-item button {
    width: 100%;
    text-align: center;
    background-color: white;
}

/* Right content */

.invite-friend .title,
.contact .title {
    color: var(--color-light-4);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.invite-friend .item {
    padding: .65rem;
}

.invite-friend .item:hover {
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.invite-friend .represent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invite-friend .represent .card-img {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
}

.invite-friend .represent .detail {
    width: calc(100% - 80px);
}

.represent .detail .name {
    font-weight: 600;
}

.represent .detail .time {
    font-size: .875rem;
}

.represent .detail .mutual {
    font-size: .875rem;
}

.represent .detail .mutual .card-img {
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
}

.invite-friend .action {
    display: flex;
    justify-content: center;
}

.invite-friend .action button {
    min-width: 120px;
    padding: .6rem 1.2rem;
    border-radius: 8px !important;
    display: inline-block;
    text-align: center;
}

.invite-friend .action button.accept {
    background-color: var(--primary-1);
    color: var(--light);
    margin: .4rem;
}

.invite-friend .action button.reject {
    background-color: var(--bg-light-3);
    color: var(--dark);
    margin: .4rem;
}

/* notifycation */
.right-nav .notifycation .dropdown-menu {
    padding: 1rem;
    border-radius: var(--border-radius-2);
    min-width: 25rem;
}

.notifycation .action {
    display: flex;
    justify-content: center;
}

.notifycation .action a {
    min-width: 120px;
    padding: .6rem 1.2rem;
    border-radius: 8px !important;
    display: inline-block;
    text-align: center;
}

.notifycation .action a.accept {
    background-color: var(--primary-1);
    color: var(--light);
    border-radius: 8px !important;
    margin: .5rem;
}

.notifycation .action a.reject {
    margin: .5rem;
    background-color: var(--bg-light-3);
    color: var(--dark);
    border-radius: 8px !important;

}
.notifycation .item {
    padding: .5rem;

}
.notifycation .item:hover{
    background-color: var(--color-dark-1);
}


/* Contact */
.contact .title {
    color: var(--color-light-4);
    font-weight: 550;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact a.user-item {
    padding: .4rem .5rem;
    margin: .25rem -.5rem;
    display: flex;
    align-items: center;
}

.contact a.user-item:hover {
    background: var(--bg-light-1);
    border-radius: var(--border-radius-2);
}

.contact a.user-item .card-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.contact a.user-item span {
    margin-left: 1rem;
    font-weight: 600;
}

/* Modal */
.modal .modal-dialog {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header .modal-title {
    font-weight: 600;
}

.modal-body .user {
    display: flex;
    align-items: center;
}

.modal-body .user .author {
    margin-top: -.25rem;
    margin-left: .5rem;
}

.modal-body .user .status {
    margin-top: .25rem;
    font-size: .8rem;
}

.modal-body .user .status button {
    padding: .25rem .5rem;
}

.modal-body .user .status .dropdown-menu {
    font-size: .8rem;
    min-width: 7rem;
}

.modal-body .post-body .content {
    border: none;
    outline: none;
}

.modal-body .post-body .custom-scrollbar {
    height: 40vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
}

.modal-body .custom-scrollbar .post-title input {
    cursor: text;
    background: transparent;
    padding: .5rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.modal-body .custom-scrollbar .post-title input::placeholder {
    font-weight: 400;
}

.modal-body .post-body .custom-scrollbar textarea {
    width: 100%;
    height: 99%;
    resize: none;
    padding: 8px;
    background-color: transparent;
    margin-top: .5rem;
}

.modal-body .post-body .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: var(--border-radius-2) !important;
}

.modal-body .post-body .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}


.modal-body .post-body .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.modal-body .post-body .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.modal-body.custom-scrollbar > * {
    margin: 1rem 0;
}

.modal-footer .dropdown-menu {
    width: 100%;
}

.modal-footer .dropdown-menu li {
    position: relative;
    margin: 0 .5rem;
    padding: .5rem;
    cursor: pointer;
}

.modal-footer .dropdown-menu li:hover {
    background-color: var(--color-dark-1);
    border-radius: var(--border-radius-1);
}

.modal-footer label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.modal-footer .btn-add-file {
    background-color: transparent !important;
    opacity: 0;
    padding: 0;
}

.modal-footer .btn-upload {
    width: 60%;
}

/* Login - Logout - Register */
.login-area, .register-area {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--gray-light);
}

.login-area .wrapper, .register-area .wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    box-shadow: var(--shadow-2);
    border-radius: var(--border-radius-2);
    padding: 1rem;
}

.login-area .wrapper .title, .register-area .wrapper .title {
    font-size: 2rem;
}

.form-login > input, .form-login .btn-login, 
.form-register > input, .otp-area > input, .new-password > input {
    margin-bottom: 1rem;
    min-width: 400px;
    padding: .8rem 1rem;
    border-radius: var(--border-radius-1);
}

.form-register .btn-register {
    width: 58%;
    padding: .8rem 1rem;
    border-radius: var(--border-radius-1);
}

.form-register .help-text {
    margin-bottom: 1rem;
    width: 600px;
    display: flex;
    justify-content: center;
}

.form-register .help-text ul {
    list-style: circle;
    width: 450px;
}

.form-register .help-text ul li {
    margin: .75rem 0;
}

.form-login > input, .form-register > input, .otp-area > input, .new-password > input {
    background-color: transparent;
    border: 1px solid var(--border-color-1) !important;
}

.form-login .btn-login,
.form-register .btn-register {
    background-color: var(--primary-1);
    color: var(--light);
    font-weight: 600;
}

.form-login .forgot-password:hover {
    text-decoration: underline;
}

.login-area .btn-register {
    background-color: var(--bg-green);
    color: var(--light);
    padding: .8rem 2.5rem;
    margin: .5rem 0;
    display: inline-block;
    border-radius: var(--border-radius-1);
    font-weight: 600;
}

.register-area .btn-login {
    background-color: var(--bg-green);
    color: var(--light);
    padding: .8rem 1rem;
    margin: .5rem 0;
    display: inline-block;
    border-radius: var(--border-radius-1);
    font-weight: 600;
    width: 40%;
}

.check-invalid {
    margin-top: -.75rem; 
    align-self: flex-start; 
    font-size: .875rem; 
    margin-bottom: 1rem; 
    color: red; 
    margin-left: .5rem;
}

/* Profile */

.profile-area {
    background-color: var(--bg-light-1);
    margin-top: 70px;
}

.profile-detail {
    background-color: var(--light);
    border-radius: 50px 50px 0 0;
    /* padding: 0 2rem; */
    /* box-shadow: var(--shadow-2); */
}

.profile-detail > .info {
    padding: 1.5rem 1rem 1rem 1rem;
}

.profile-detail .info img {
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
}

.profile-detail .info .user {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.profile-detail .info .multi-user {
    position: absolute;
    right: 100px;
    top: 60%;
    transform: translateY(-50%);
}

.profile-detail .action {
    padding-bottom: 4px;
}

.profile-detail .action .action-item {
    font-size: 1.2rem;
    border-radius: var(--border-radius-2);
    border: none;
}

.profile-detail .action .action-item button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: var(--border-radius-2);
    position: relative;
    background-color: transparent;
}
/* update profile  */
.profile-detail  .update-profile button:hover{
    background-color: var(--primary-1);
    color: var(--light);
}

/* Profile page posts */

.profile-page .posts .left-profile {
    width: 36%;
}

.profile-page .posts .left-profile > * {
    border-radius: 20px;
    background-color: var(--light);
    padding: 1rem;
    margin-bottom: 1.5rem;
    /* box-shadow: var(--shadow-2); */
}

.profile-page .posts .left-profile .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.profile-page .posts .introduce .detail li {
    margin: .5rem 0;
    line-height: 1.5rem;
}

.profile-page .posts .friend .detail img {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: var(--border-radius-2);
}

.profile-page .posts .friend .detail .name {
    font-size: .8rem;
    margin-top: .25rem;
    font-weight: 600;
}

.profile-page .posts .right-profile {
    width: 60%;
}

.profile-page .posts .right-profile .card {
    margin: 1rem auto;
}

/* Profile page introduce */

.profile-page .introduce > * {
    border-radius: 20px;
    background-color: var(--light);
    margin-bottom: 1.5rem;
}

.profile-page .introduce .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.introduce .introduce-card > * {
    padding: 1rem;
}

.introduce .introduce-card .left-card {
    width: 30%;
    border-right: 1px solid var(--border-color-1);
}

.introduce .introduce-card ul li {
    margin: .5rem 0;
}

.introduce .introduce-card ul li a {
    line-height: 1.5rem;
    padding: .5rem;
    display: block;
    border-radius: var(--border-radius-1);
    width: 100%;
}

.introduce .introduce-card ul li a:hover {
    background-color: var(--bg-light-1);
}

.friend-card {
    padding: 1rem;
}

.friend-card .friend-tab li button {
    padding: 1rem 2rem;
    display: block;
    border-radius: var(--border-radius-1);
    width: 100%;
    font-weight: 600;
    background-color: transparent;
}

.friend-card .friend-tab li button {
    position: relative;
}

.friend-card .friend-tab li button:hover {
    background-color: var(--bg-light-1);
}

.friend-card .friend-tab-detail, .friend-card .friend-page-tab-detail {
    padding: 1rem;
}

.friend-card .friend-list-item,
.friend-card .invite-list-item {
    padding: .8rem;
    border: 1px solid var(--border-color-1);
    width: 49%;
    border-radius: var(--border-radius-2);
}

.friend-card .friend-list-item img,
.friend-card .invite-list-item img {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius-2);
}

.friend-card .friend-list-item .name,
.friend-card .invite-list-item .name {
    margin-top: .25rem;
    font-weight: 600;
    margin-left: 1rem;
}

.friend-card .invite-list-item a {
    min-width: 120px;
    padding: .6rem 1.2rem;
    border-radius: 8px !important;
}

.friend-card .invite-list-item a.accept {
    background-color: var(--primary-1);
    color: var(--light);
}

.friend-card .invite-list-item a.reject {
    background-color: var(--bg-light-3);
    color: var(--dark);
}

/* Profile page friend */

.profile-page .friend > * {
    border-radius: 20px;
    background-color: var(--light);
    margin-bottom: 1.5rem;
}

.profile-page .friend .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Comment  */
.comment-form {
    padding: .5rem 0;
    margin: 0 1rem;
}

.post-comment input.content {
    width: calc(100% - 150px);
}

.post-reply-comment input.content {
    width: calc(100% - 100px);
}

form.post-comment label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 100%;
    text-align: center;
}

form.post-comment .btn-add-file {
    background-color: transparent !important;
    opacity: 0;
    padding: 0;
    width: 50px;
    cursor: pointer;
}

.comment-content {
    border: none;
    margin: .25rem;
    padding: .5rem;
}

.comment-content input {
    line-height: 1.25rem;
    padding: .375rem 1rem;
    height: 40px;
}

.comment-content .author {
    background-color: #f0f2f5;
    width: fit-content;
    border-radius: 25px; 
    margin-left: 1rem;
    padding: .5rem 1rem;
    min-width: 150px;
}

.comment-content .author .name {
    margin-bottom: .5rem;
    display: block;
}

.comment-content .reply {
    margin-left: 1.5rem;
    margin-top: .25rem;
    font-size: .875rem;
    height: 16px;
}

.comment-content .reply:hover {
    text-decoration: underline;
}

.message-modal {
    position: fixed;
    inset: calc(100% - 400px) .5rem 0 .5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: hidden;
}

.message-modal .chatbox {
    position: relative;
    border-radius: 15px 15px 0 0;
    box-shadow: var(--shadow-2);
    background-color: var(--light);
    z-index: 1100;
    visibility: visible;
    width: 320px;
    height: 100%;
}

.message-modal .chatbox + .chatbox {
    margin-left: 2rem;
}

.message-modal .chatbox-top {
    height: 15%;
    padding: .25rem .5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox-top .chat-user .avatar {
    height: 70%;
    border-radius: 50% !important;
    background-color: transparent;
}

.chatbox-top .chat-button button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: transparent;
    border-radius: 50% !important;
}

.chatbox-top .chat-button button:hover {
    background-color: var(--bg-light-3);
}

.message-modal .chatbox-body {
    height: 70%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.chatbox-body span.message {
    background-color: var(--bg-light-3);
    padding: .5rem .75rem;
    font-size: .875rem;
    display: block;
    margin: .25rem 0;
    max-width: 180px;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.2rem;
}

.chatbox-body span.left-message {
    border-radius: 0 1rem 1rem 0;
    align-self: flex-start;
}

.chatbox-body span.right-message {
    border-radius: 1rem 0 0 1rem;
    align-self: flex-end;
    background-color: var(--primary-1);
    color: var(--color-dark-1);
}

.message-modal .chatbox-bottom {
    height: 15%;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chatbox-bottom form {
    width: 80%;
    margin: 0 .5rem;
}

.chatbox-bottom .input-text {
    border-radius: 2rem !important;
    width: 100%;
    padding: .5rem 1rem;
    height: 35px;
    font-size: .875rem;
    line-height: normal;
    overflow: hidden;
}

.chatbox-bottom button {
    padding: .5rem .75rem;
    background-color: transparent;
}

.chatbox-bottom button:hover {
    background-color: var(--bg-light-3);
}