{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="content-chat" >
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="chat-app">
            <div id="plist" class="people-list ">
                <div class="input-group">                    
                    <a href="" class="func-item w-100 p-3" data-bs-toggle="modal" data-bs-target="#example"> 
                        <i class="fa-solid fa-add"></i>
                        <span>Tạo Phòng chat</span>
                    </a>                    
                </div>
                <div class="list-user overflow-auto scroll-smooth">
                    <div class="d-block">
                        <ul class="list-unstyled chat-list mt-2 mb-0">
                            {% for user_item in combined_list %}
                                {% if user_item.type == "user"  %}
                                <a href="{% url 'inbox_detail' user_item.object.id %}">
                                    <li class="clearfix "  {% if user_item.object.username == receiver.username %} id="active" {% endif %}>
                                        {% for profile in profiles %}   
                                            {% if user_item.object == profile.user %}             
                                                <img src="{% if profile.profile_pic %}
                                                    {{ profile.profile_pic.url  }}
                                                {% else %} 
                                                    https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                                                {% endif %}" 
                                                alt="avatar">
                                            {% endif %}
                                        {% endfor %}
                                        <div class="about">
                                            <div class="name p-2" style="text-transform: capitalize;">{{user_item.object.username}}</div>
                                        </div>
                                    </li>
                                </a>
                                {% else %}
                                <a href="{% url 'inbox_room_detail' user_item.object.id %}">
                                    <li class="clearfix ">                                            
                                        {% if user_item.object.image %}             
                                            <img src="{{ user_item.object.image.url  }}" alt="avatar" style="width: 40px; " >
                                        {% else %}
                                            <img src="{% static 'room.png' %}" alt=""  style="width: 40px;">
                                        {% endif %}
                                        <div class="about">
                                            <div class="name p-2" style="text-transform: capitalize;">{{user_item.object.name}}</div>
                                        </div>
                                    </li>
                                </a>
                                {% endif %}
                            {% endfor %}                                
                        </ul>
                    </div>
                </div>
            </div>
        {% block room %}
        <div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Tạo phòng chat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'create_room' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div href="" class="user">
                            <a href="" class="d-flex align-items-center justify-content-center">
                                {% for profile in profiles %}               
                                    {% if user.id == profile.user.id %}
                                        {% if profile.profile_pic %}
                                                <img src="{{ profile.profile_pic.url }}" style="width: 50px; height:50px" class="rounded-pill" alt="">
                                            {% else %}
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 50px; height:50px" style="width: 40px; height:40px" alt="">
                                            {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </a>
                            <div class="author">
                                <div>Người tạo: {{ user.username }}</div>                                       
                            </div>
                        </div>
                        <div class="post-body mt-4">
                            <h3 class="post-title w-100 rounded">
                                <input class=" w-100 rounded form-control" type="text" name="name" required id="id_name" placeholder="Nhập tên phòng">
                            </h3>
                            
                        </div>
                    </div>                               
                    <div class="modal-footer d-flex justify-content-lg-center">                                    
                        <div class="p-2 rounded" style="position: relative; display: inline-block; width: 15%; background-color: var(--bg-light-3);">
                            <input class="btn-add-file" type="file" name="image" accept="image/*" id="id_image" style="align-self: center;opacity: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; cursor: pointer;">
                            <div id="file-icon" class="text-center">                             
                                Ảnh
                            </div>
                        </div>             
                        <button type="submit" class="btn btn-primary btn-upload">Tạo phòng</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        {% endblock %}
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden Chavez</h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-end">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history overflow-auto scroll-smooth">
                    <div class="d-block">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data text-end">
                                <span class="message-data-time">10:10 AM, Today</span>
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                            </div>
                            <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data text-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>                               
                        <li class="clearfix">
                            <div class="message-data text-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>                               
                        <li class="clearfix">
                            <div class="message-data text-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>                               
                        
                    </ul>
                </div>
            </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend" style="display: flex;">
                            <button class="input-group-text" style="margin: 5px; padding: 1rem;">
                                <i class="fa fa-image"></i>
                            </button>
                            <input type="text" class="form-control" id="chat-input" placeholder="Enter text here...">                                    
                            <button class="input-group-text" style="margin: 5px; padding: 1rem;" id="send-btn">
                               <i class="fa fa-send"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}